*{
    margin: 0;
    padding: 0;
}


header{
    height: 100px;
}


section{
    width: 100%;
    margin: auto;
    height: 725px;
    background: url('./imagenes/imagen-montar-bici1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
   
}

.container{
    width: 70%;
}
    

.bici-tour{
    font-family:'Urbanist', sans-serif;
    font-weight: bold; 
    
}

.bici-title{
    font-family: 'Urbanist', sans-serif;
}

/* #start-date{
    border: solid;
}

#end-date{
    border: solid;
}

div#booking {
    border: solid;
} */

/* .calendar {
    height: 97px;
} */

/* .row.form-group {
    height: 83px;
}

input.form-control {
    height: 83px;
} */

.ff{
    float: left;
}
.fi{
    float:left;
}

.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 124px;
}












/*.fi{
    float: left;
    border: solid;
    border-color: rgba(58, 40, 4, 0.719);
}

input#fechaInicio {
    height: 30px;
    margin-top: 6px;
    border-color: rgba(58, 40, 4, 0.719);
    background-color: rgba(58, 40, 4, 0.719);
    border: none;
}


.ff {
    float: left;
    border: solid;
    border-color: white;
    box-sizing: border-box;
}

input#fechaFinal{
    height: 30px;
    margin-top: 6px;
    border-color: white;
    background-color: white;
    border: none;
}
}

span {
    margin-right: 10px;
    font-weight: bold;
}*/