header{
    height: 100px;
}


section{
    width: 100%;
    margin: auto;
    height: 725px;
    background: url('./imagenes/fondoBooking2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
   
}

.container{
    width: 70%;
}
    

h1{
    margin-bottom: 63px;
}

#start-date{
    border: solid;
}

#end-date{
    border: solid;
}

div#booking {
    border: solid;
}

.calendar {
    height: 97px;
}

.row.form-group {
    height: 83px;
}

input.form-control {
    height: 83px;
}

header{
    /*background-color:#e4ddda ;*/
    background-color:#e7e4e0 ;
}

/*header img{
    background-color: tomato;
}*/













/*.fi{
    float: left;
    border: solid;
    border-color: rgba(58, 40, 4, 0.719);
}

input#fechaInicio {
    height: 30px;
    margin-top: 6px;
    border-color: rgba(58, 40, 4, 0.719);
    background-color: rgba(58, 40, 4, 0.719);
    border: none;
}


.ff {
    float: left;
    border: solid;
    border-color: white;
    box-sizing: border-box;
}

input#fechaFinal{
    height: 30px;
    margin-top: 6px;
    border-color: white;
    background-color: white;
    border: none;
}
}

span {
    margin-right: 10px;
    font-weight: bold;
}*/